<!DOCTYPE html>
<html style="background-color: #22223B">

  <head>
    <title>NovaQuotics</title>
    <meta http-equiv="refresh" content="5" />

    <script type="text/JavaScript">
      $(document).ready(function () {
        // will call refreshPartial every 3 seconds
        setInterval(refreshPartial, 3000)
      });

      // calls action refreshing the partial
      function refreshPartial() {
        $.ajax({
          url: "quotes/index"
       })
      }
    </script>

  <%= stylesheet_link_tag "quote_style" %>

  </head>

  <body>

    <section id="main-container" class="container-fluid novaquote_section">
      <h1 class="nova_title">NovaQuotics</h1>

      <% @quotes.each do |quote| %>
        <aritcle class="card card-block nova_card">
          <p><%= quote.content %></p>
          <p class="align_right"><%= quote.myth.upcase%>, <%= quote.quoteDate.strftime("%d-%m-%Y") %></p>
        </aritcle>
      <% end %>

      <br>

    </section>


  </body>

</html>
