<!DOCTYPE html>
<html style="background-color: #22223B">

  <head>
    <title>NovaQuotics</title>
  </head>

  <body>

    <div id="main-container" class="container-fluid" style="background-color: #22223B; background-repeat: repeat-y-x; color: #C9ADA7">
      <h1>NovaQuotics</h1>

      <% @quotes.each do |quote| %>
        <div class="card card-block" style="border: 2px; border-color: black; float: left; margin: 2%; background-repeat: repeat-y-x; background-color: #9A8C98; border-radius: 25px; padding: 1%; color: #F2E9E4">
          <h4><%= quote.myth %></h4>
          <p><%= quote.content %></p>
          <p><%= quote.userSender.upcase%>, <%= quote.quoteDate.strftime("%d-%m-%Y") %></p>
        </div>
      <% end %>

      <br>

    </div>

  </body>

</html>
